
@{
    ViewBag.Title = "Add Vacation Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TimeCard.Models
@using TimeCard.Helping_Classes
@using TimeCard.BL
@{
    SessionDTO sdto = new SessionDTO();
}
<br />
@if (ViewBag.msg != "")
{
    <center><h2><strong>@ViewBag.msg</strong></h2></center>
    <br />
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="widget-box">
            <div class="widget-header">
                <center><h4 class="widget-title"><strong>Add Vacation Bank</strong></h4></center>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal" method="post" action="@Url.Action("PostVacationBank", "Home")">
                        <div>
                            <label>User</label>
                            <select class="form-control" name="User_Id" required>
                                <option value="">Select One</option>
                                @if (ViewBag.userlistcount > 0)
                                {
                                    foreach (User u in ViewBag.userlist)
                                    {
                                        <option value=@u.Id>@u.FirstName&nbsp;@u.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                        <br />
                        <div>
                            <label>Vacation Hours</label>
                            <input type="number" class="form-control" name="VacationHoursPerYear" required />
                        </div>
                        <br />
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <br /><br /><br />
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.span -->
</div>
