
@{
    ViewBag.Title = "Add Labor Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h4 {
        color: #2a2b6e;
    }
</style>
<br /><br /><br />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="widget-box">
            <div class="widget-header">
                <center><h4 class="widget-title"><strong>Add Labor Category</strong></h4></center>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal" method="post" action="@Url.Action("SaveLaborCategory", "User")">
                        <div>
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" required />
                            <label id="msg"></label>
                        </div>
                        <br />
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <br /><br /><br />
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.span -->
</div>




