
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<div class="row">
    <center>
        <h4 style="color: red;">@ViewBag.err</h4>
    </center>
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="widget-box">
            <div class="widget-header">
                <center><h4 class="widget-title"><strong>Change Password</strong></h4></center>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal" method="post" action="@Url.Action("ChangePassword", "Auth")">                          
                        <div>
                            <label>Old Password</label>
                            <input type="password" class="form-control" name="OldPassword" required />
                        </div>
                        <br />
                        <div>
                            <label>New Password</label>
                            <input type="password" class="form-control" name="NewPassword" required />
                        </div>
                        <br />
                        <div>
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="ConfirmPassword" required />
                        </div>
                        <br />
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                        <br /><br /><br />
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.span -->
</div>


